
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .singleKnow{
    max-width: 274px;
    width: 100%;
height: 129px;
padding: 24px 20px ;
border-radius: 10px;
 display: flex;
 flex-direction: column;
 cursor: pointer;
  }
  .knowGreen{
    background: #DEF2EB;
    border: 1px solid #B7DFD5;
}
.knowRed{
    background: #FCEFEC;
    border: 1px solid #F4C0B3;
  }
  .knowYellow{
    border: 1px solid #FCDCB2;
    background: #FFF5D7;

  }
  .knowBlue{
    border: 1px solid #B3CBF7;
        background: #D7E5FF;

  }
  .singleKnow .right{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .singleKnow .right img{
   width: 42px;
   height: 42px;
  }
  .samepara{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0015em;
    text-align: left;
color: #1B2533;    
  }

  .kowSol{
    display: flex;
    justify-content: flex-end;
  }

  /* for timmer  */
  .timerWrap{
   max-width:472px;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 26px;
height:314px;
padding: 20px;
border-radius: 12px ;
background: #FFFFFF;
border: 1px solid #E8E9EB;

  }
  .timerWrap nav{
  display: flex;
  align-items: center;
  gap: 10px;
  
  }
  .showtimcont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .timerWrap nav h3{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0015em;
    text-align: left;
     color: #1B2533;
  }

  .timerWrap .notewrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
    width: 100%;
  }
  .timerWrap .notewrap input{ 
    max-width: 295px;
    width: 100%;
    height: 48px;
    padding: 8px 16px ;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #D0D4DC;  
font-family: Inter;
outline: none;
color: #B8BBC0;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.005em;
text-align: left;

  }
  .timerWrap .notewrap button{ 
    min-width: 134px;
    width: fit-content;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #189877;
    border: 1px solid #189877;
    justify-content: center;
    
  }
  .timerWrap .notewrap button span{ 
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
color: white;    
  }

  .showTime{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    

  }
  .showTime div , .showTime span{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    letter-spacing: 0.004em;
    text-align: left;
color: #2B2B2B;
}

.showTime div{
    /* background-color: red; */
    max-width: 60px;
width: 100%; 
 text-align: center;
  }

  .todaydate{
    color: #49515C;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.0025em;

  }

  .timenewCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .latestAnnouceCont{

    border: 1px solid black;
    max-width: calc(100vw - 472px);
    width: 100%;
    height: 314px;
  }

  .prodashbtn{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .prodashbtn .addbtn{
    width: 143px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0B56E4;


  }
  .prodashbtn .iportpro{
    width: 152px;
    height: 40px;
    border-radius: 10px;
    padding: 0;
    background: linear-gradient(131.78deg, #D1E8FD 6.87%, #EDEFFF 91.67%);
    border: 1px solid #0B56E4;    
  }
  .prodashbtn .expobtn{
    width: 142px;
    height: 40px;
    border-radius: 8px ;
    background: #E8E9EB;
    border: 1px solid #B8BBC0;
padding: 0;    
  }
  .prodashbtn .expobtn span{
color: #1B2533;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    
  }
    
  .prodashbtn .addbtn span{
  color: white;
  }

  .prostatusfill{
    display: flex;
    align-items: center;
    
  }
    
  .prostatusfill span{
    width: fit-content;
    height: 42px;
    padding: 10px 16px ;
    background: #FFFFFF;
    border: 1px solid #E8E9EB;    
font-family: Inter;
color: #777777;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.005em;
text-align: center;
cursor: pointer;

  }
    
  .bleubg{
    background: #3C78E9 !important;
    border: 1px solid #0B56E4 !important;
    color: white  !important; 
  }

  .allProjectccont{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .singleProj{
    position: relative;
    max-width:373px;
    width: 100%;
height: 279px;
padding: 24px;
border-radius: 12px ;
background: #FFFFFF;
border: 1px solid #E8E9EB;
 display: flex;
 flex-direction: column;
 gap: 16px;

  }
  .singleProj nav{
 display: flex;
 align-items: center;
 justify-content: space-between;

  }
  .singleProj nav .roboxleft{
 display: flex;
 align-items: center;
 gap: 10px;

  }
  .singleProj nav .roboxleft span{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
color: #1B2533;    
  }


  .statusdue{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .statusdue .staus{
    width: 88px;
    height: 28px;
    border-radius: 27px ;
 display: flex;
 align-items: center;
 justify-content: center; 
 background: var(--Green-Green-100, #30D158);
   

  }
  .statusdue .staus p{
    font-family: Inter;
    color: red;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.004em;
    text-align: left;
    

  }
  .duedate{
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.0015em;
color: #1B2533;
  }

  .prodec{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
letter-spacing: 0.0015em;
color: #666D76;
  }

  .member{
     display: flex;
     flex-direction: column;
     gap: 4px;
  }

  .prtotaltask{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0.0015em;
color: #1B2533;    
  }

  .avatara{
    font-weight: 500;
  }

.porjepopupWrap{
  position: absolute;
  min-width: 100vh;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4040404D;
}

.createpopcont{
  max-width: 599px;
max-height: 492px;
width: 100%;
height: 100%;
padding: 24px;
display: flex;
flex-direction: column;
gap: 16px;
background-color: white;
border-radius: 18px ;
}
.incheigh{
  /* min-height: 492px  !important; */
  max-height: none ;
  height: fit-content !important;
}

.increheight{
  max-height: 570px !important;
}

.createpopcont nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.createpopcont nav p{
  font-family: Inter;
  color: #1B2533;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0015em;
  text-align: left;
  
}

.opennav{
  width: 209px;
height: 236px;
border-radius: 8px ;
display: flex;
position: absolute;
top: 40px;
right: 40px;

flex-direction: column;
background: #FFFFFF;
border: 1px solid #E3E3E3;
box-shadow: 0px 4px 12px 0px #1A1A1A33;

}
.opennav div{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px 10px;
  border-bottom: 1px solid #E8E9EB;
}
.opennav div p{
  font-family: Inter;
  color: #2B2B2B;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0025em;
  text-align: left;
  
}

.createpopcont form{
 display: flex;
 flex-direction: column;
 gap: 18px;
  
}
.createpopcont form label{ 
 display: flex;
 width: 100%;
 flex-direction: column;
 gap: 8px;
  
}
.createpopcont form label p{ 
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0025em;
color: #1B2533;
  
}
.createpopcont form label input{ 
  width: 100%;
  height: 48px;
  padding: 8px 16px ;
  border-radius: 10px;
  background: #FFFFFF;
border: 1px solid #D0D4DC;
outline: none;
}

.createpopcont form label select{ 
  width: 100%;
  height: 48px;
  padding: 8px 16px ;
  border-radius: 10px;
  background: #FFFFFF;
border: 1px solid #D0D4DC;
outline: none;
}


.createbtns{
  display: flex;
  align-items: center;
  gap: 20px;
  
}
.createbtns button:nth-child(1){
  width: 162px;
  height: 40px;
  border-radius: 10px;
  background: #0B56E4;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
color: #FFFFFF;    

}

  
.createbtns button:nth-child(2){
  width: 86px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #B8BBC0;  
  font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.005em;
color: #666D76;
}


/* this is fo commone h2 element  */
.commonh2{
  font-family: Inter;
  color: #101820;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  
}

.commonpara{
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
color: #666D76;  
}

.dashwrap2{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dashwrap2 nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.dashwrap2 .ctnav1{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
 
.createamform{
  width: 100%;
  height: 48px;
  padding: 8px 16px ;
  border-radius: 10px;
  background: #FFFFFF;
border: 1px solid #D0D4DC;
outline: none;

}
  

.teamDetails{
height: 100px;
 width: 100%;;
padding: 10px 16px ;
border-radius: 10px;
background: linear-gradient(131.78deg, #D1E8FD 6.87%, #EDEFFF 91.67%);
border: 1px solid #0B56E4;
display: flex;
align-items: center;
justify-content: space-between;

}
.teamDetails label{
 display: flex;
 flex-direction: column;
 gap: 10px;


}
.teamDetails label h3{
  font-family: Inter;
  color: blue;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  
}
.teamDetails label p{
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
color: #296ce8;  
}

.allTeamMembers{
  display: flex;
  flex-wrap: wrap;
gap: 30px;
width: 100%;

}

.singleMem{
  width: 274px;
height: 250px;
border-radius: 12px ;
background: #FFFFFF;
border: 1px solid #E8E9EB;
padding: 10px;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
}
.singleMem nav{
 width: 100%;
display: flex;
justify-content: flex-end;
}
.singleMem h3{
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
color: #1B2533;  
}
.singleMem p{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
color: #666D76;  
}



.empavatar {
  width: 70px !important; 
  height: 70px !important; 
  border-radius: 50%;
  object-fit: cover; 
}

.active{
  color: #36d353 !important;
  font-weight: 600 !important;

}
.unactive{
  color: #F34A4A !important;
  font-weight: 600 !important;
}

.teamIDBtns{
  display: flex;
  align-items: center;
  gap: 10px;

}

.allpageallow{
  display: flex;
  align-items: center;
  gap: 10px;
}

.singlepageallow{
  display: flex;
  align-items: center;
  gap:4px;
  width: auto;
  height: 30px;
  border-radius: 12px;
  background: #0B56E4;
 color: white;
 font-weight: 500;
 font-size: 14px;
 padding: 10px 10px;
}

.showOption{
  position: absolute;
  width: 180px;
  top: 20px;
  right: 20px;
height: 200px;
border-radius: 8px;
background: #FFFFFF;
border: 1px solid #E3E3E3;
box-shadow: 0px 4px 12px 0px #1A1A1A33;
display: flex;
flex-direction: column;

}
.showOption label{
 display: flex;
 align-items: center;
 gap: 10px;
 cursor: pointer;
 padding: 10px;

}
.showOption label span{
  font-family: Inter;
  color: #2B2B2B;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0025em;

}

  @media (max-width:900px) {
    .timenewCont{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }
    .latestAnnouceCont{
      max-width: 100%;
      width: 100%;
    }
    .timerWrap{
      max-width:700px;
      width: 100%;
   height:314px;
 
   
     }
  }