.proTaskCont{
    width: 100%;
display: flex;
flex-direction: column;
gap: 20px;
}

.proTaskCont nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.proTaskCont nav h2{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: #101820;
    
}
.proTaskCont nav button{
    width: 153px;
    height: 40px;
    border-radius: 10px;
    background: #0B56E4;
}
.proTaskCont nav button span{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
color: #FFFFFF;    
}

.statusInput{
    max-width: 250px;
    width: 100%;
    
}

.OvervieCont{
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.proComDetail{
    box-shadow: 0px 8px 32px -2px #1B25330F;
    border: 1px solid #E8E9EB;
    background: #FFFFFF;
padding: 10px;
}

.prsecSec label{
     display: flex;
     flex-direction: column;
     gap: 5px;
}
.prsecSec label p{
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: #101820;
}
.prsecSec label span{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #101820;
}

.proDetails{

display:flex;
justify-content:space-between;
align-items: center;
}
.proDetails .proDetaLeft{
   display: grid;
   grid-template-columns: repeat(2 ,1fr);
   gap: 20px;
   
}
.proDetails .proDetaLeft label{
 display: flex;
 align-items: center;
 gap: 5px;
}
.proDetails .proDetaLeft label p{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: #101820;
}
.proDetails .proDetaLeft label span{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #101820;
}

.memberDetail h2{
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: #101820;
}

.memberDetail , .allMemb{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.singMem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.singMem span{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #101820;
}

.statusDropdown{
    width: 196px;
height: 46px;
background: #E8E9EB;
border: 1px solid #D0D4DC;
padding: 8px 12px;
border-radius: 10px;
font-family: Inter;
color: #1B2533;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.0025em;
text-align: left;


}

.bgadjust{
    background: #ad91d5;
border-bottom: 1px solid #69449C;
}

.allTasksCont{
 min-width: 800px !important;
 font-weight: 600;
 font-family: Inter;

}

@media (max-width:1100px) {
    
    .proDetails .proDetaLeft{
        grid-template-columns: repeat(1 ,1fr);
        
     }
     .proDetails .proDetaLeft label p{
        font-size: 16px;
        
    }
    .proDetails .proDetaLeft label span{
        font-size: 14px;
        
    }
    
}

@media (max-width:650px) {
    .proDetails{
        display:flex;
        justify-content:space-between;
        flex-direction: column-reverse;
        align-items: flex-start;
        }
        .proDetails .proDetaLeft label p{
            font-size: 12px;
            
        }
        .proDetails .proDetaLeft label span{
            font-size: 10px;
            
        }
        .prsecSec label p{
            font-size: 14px;

        }
        .prsecSec label span{
            font-size: 12px;

        }
}