
.sidebarWrap {
  max-width: 224px;
  min-height: 100vh;
  height: 100%;
  width: 224px;
  background: #ffffff;
  border-right: 1px solid #1c1c1c1a;
  overflow: hidden; /* Prevents content overflow during animation */
  transition: width 0.3s ease, padding 0.3s ease; /* Adjust the duration and easing as needed */
}

.sidebarCont {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 12px;
}

.sidebarCont label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 0px;
}

.sidebarCont .selected {
  background: #f5f9ff;
  color: #69449C;
}
.sidebarCont .selected span {
  color: #69449C;
}
.sidebarCont label span {
  color: #0f141c;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.0025em;
}

.navwrap {
  width: 100%;
  height: 90px;
  padding: 0px 16px;
  background:  #EBEBEB;
}

.navcont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  max-width: 80px;
  max-height: 80px;
}

.navRightSide {
  display: flex;
  align-items: center;
  gap: 24px;
}
.userprofile {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.userprofile span {
  font-family: Inter;
  color: #0f141c;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0025em;
}
.buttonsam {
  width: 148px;
  height: 46px;
  background: #69449C;
  text-align: center;
  border-radius: 10px;
}
.buttonsam span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
}

.loader {
  width: 28px;
  height: 28px;
  border: 5px solid #fff;
  border-bottom-color: #69449C;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sidebarCont2{
  display: none;
}


.sidebarWrap.collapsed {
  width: 40px;
  padding: 0;
}

@media (max-width: 1150px) {
  .sidebarWrap {
    width: 40px !important; 
    padding: 0;
  }
  
  .sidebarCont {
    display: none;
  }

  .sidebarCont2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

    margin-top: 40px;
  }
}


.bellWRAP {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.bellWRAP img {
  display: block;
}

.bellWRAP p {
  position: absolute;
  top: -10px;
  right: -10px;
background-color:#69449C;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.loginBtns button {
  width: 124px;
  height: 40px;
  gap: 8px;
  border-radius: 20px;
  background: #69449C;
}
.loginBtns button span {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

/* for calender  */
.calendarwrap {
  max-width: 60%;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc; 
  overflow: hidden;
  box-sizing: border-box;
}
.calendarwrap {
  width: 100% !important;
  height: 100% !important;
  border: 1px solid #ccc !important;
  overflow: hidden !important;
  box-sizing: border-box !important;
}

.react-calendar {
  width: 100% !important;
  height: 100% !important;
}

.react-calendar, .react-calendar *, .react-calendar *:before, .react-calendar *:after {
  font-family: Inter !important;
  font-size: 16px !important;
}

/* Add row and column lines */
.react-calendar__tile {
  border-right: 1px solid #ddd !important; /* Add right border to create vertical lines */
  border-bottom: 1px solid #ddd !important; /* Add bottom border to create horizontal lines */
}

.react-calendar__tile:last-child {
  border-right: none !important; /* Remove right border for the last column */
}

.react-calendar__month-view__days {
  border-bottom: 1px solid #ddd !important; /* Add a bottom border for the header row */
}

.react-calendar__month-view__weekdays {
  border-bottom: 1px solid #ddd !important; /* Add a bottom border for the weekday header */
}

.react-calendar__tile:only-child {
  border-bottom: none !important; /* Remove bottom border if there's only one tile */
}

button, [type='button'], [type='reset'], [type='submit']{
  /* background-color:#bc9de8 !important; */
}
.react-calendar__tile--active {
background-color: #69449C !important;
}
@media (max-width:900px) {
  /* for calender  */
.calendarwrap {
  max-width: 100%;
 
}
}
